<!DOCTYPE html>

<html>
<head>
    <title>First AngularJS Application</title>
    <script src= "angular.js"></script>
</head>
<body ng-app >
    <h1>First AngularJS Application</h1>

    <H3>Enter Numbers to Multiply: </H3>
    <input type="number" ng-model="Num1" /> x <input type="text" ng-model="Num2" /> 
    = {{Num1 * Num2}}  </br>
    <H3>Enter Numbers to Divide: </H3>
    <input type="number" ng-model="Num3" /> / <input type="text" ng-model="Num4" /> 
    = {{Num3 / Num4}}  </br>
    <H3>Enter Numbers to Addition </H3>
    <input type="number" ng-model="Num5" /> + <input type="number" ng-model="Num6" /> 
    = {{Num5 + Num6}}  </br>
    <H3>Enter Numbers to subtraction </H3>
    <input type="number" ng-model="Num7" /> - <input type="text" ng-model="Num8" /> 
    = {{Num7 - Num8}}  </br>
    <H3>Enter Numbers in expression </H3>
    <input type="number" ng-model="Num1" /> + <input type="text" ng-model="Num3" /> * <input type="text" ng-model="Num7" /> - <input type="text" ng-model="Num8" />
    = {{Num1 + Num3 * Num7 - Num8}}  </br>

</body>
</html>

